html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  font-size: 12px;
  line-height: 14px;
  background: #fff url("../images/decor/background.png");
}

a {
  text-decoration: none;
  display: inline-block;
  color: #fff;
}

ul {
  list-style-type: none;
}

.container {
  max-width: 960px;
  margin: 0 auto;
  padding: 0 10px;
}

.header {
  background-color: #fff;
}

.header__inner {
  font-family: 'Bebas', sans-serif;
  text-transform: uppercase;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
}

.header__logo a {
  color: #f3af9d;
  font-size: 36px;
}

.header__logo a span {
  color: #e8603c;

}

.header__menu {
  margin: 35px 0 28px 0;

}

.header__menu ul {
  list-style-type: none;
  display: flex;
  justify-content: space-between;
}

.header__menu li+li {
  margin-left: 28px;
}

.header__menu a {
  font-size: 16px;
  word-spacing: 0.2rem;
  color: #b9b9b9;
}

.header__logo a:hover,
.header__menu a:hover {
  color: #e8663c;
  transition: 0.4s;
}

.slider {
  margin-bottom: 17px;
}

.slider__inner {
  min-height: 400px;
}

.slider__item-1 {
  background-image: url(../images/slider-background-1.jpg);
  min-height: 401px;
  background-position: top center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}

.slider__item-2 {
  background-image: url(../images/slider-background-2.jpg);
  min-height: 401px;
  background-position: top center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}

.slider__item-3 {
  background-image: url(../images/slider-background-3.jpg);
  min-height: 401px;
  background-position: top center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}

.slider__item-4 {
  background-image: url(../images/slider-background-4.jpg);
  min-height: 401px;
  background-position: top center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}

.slider__item-5 {
  background-image: url(../images/slider-background-5.jpg);
  min-height: 401px;
  background-position: top center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}

.slider__item-overlay {
  width: 413px;
  height: 124px;
  background-color: rgba(232, 102, 60, 0.8);
  color: #fff;
  position: absolute;
  bottom: 32px;
  left: 36px;
}

.slider__item-title {
  font-family: 'Bebas', sans-serif;
  text-transform: uppercase;
  font-size: 18px;
  word-spacing: 0.2rem;
  margin: 22px 18px 20px;
}

.slider__item-text {
  margin: 0 29px 25px 16px;
  line-height: 16px;
}

.slick-arrow {
  width: 35px;
  height: 52px;
}

.slick-arrow::before {
  display: none;
}

.slick-prev {
  position: absolute;
  top: 185px;
  left: 25px;
  z-index: 1;
}

.slick-next {
  position: absolute;
  top: 185px;
  right: 25px;
}

.thumbnails {
  margin-bottom: 40px;
}

.thumbnails__inner {
  padding-left: 0;
  display: flex;
  justify-content: space-between;
}

.thumbnails__item {
  width: 140px;
  height: 120px;
}

.thumbnails__item:nth-child(odd) {
  background-color: #e8663c;
}

.items__inner {
  padding: 0;
  display: flex;
  justify-content: space-between;
  margin-bottom: 46px;
}

.items__article {
  width: 300px;
}

.items__title {
  font-family: 'Bebas', sans-serif;
  font-size: 18px;
  line-height: 24px;
  text-transform: uppercase;
  word-spacing: 0.2rem;
  color: #e8663c;
  display: flex;
  padding-left: 3px;
}

.items__icon {
  min-width: 50px;
  min-height: 50px;
  padding-right: 23px;
}

.items__text {
  margin: 38px 23px 20px 2px;
  line-height: 18px;
}

.items__button {
  width: 56px;
  height: 31px;
  background-color: #e8663c;
  color: #fff;
  font-family: 'Bebas', sans-serif;
  line-height: 30px;
  text-transform: uppercase;
  text-align: center;
}

.items__text-button-wrapper {
  min-height: 260px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.recent-works {}

.recent-works__title {
  min-height: 18px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 24px;
}

.recent-works__heading {
  min-width: 134px;
  font-family: 'Bebas', sans-serif;
  word-spacing: 0.2rem;
  font-size: 18px;
  color: #e8603c;
}

.recent-works__line {
  min-width: 805px;
  min-height: 18px;
  margin-right: 0;
  background-image: url("../images/decor/hatched-line.png");
  background-repeat: repeat-x;
}

.recent-works__items {
  display: flex;
  justify-content: space-between;
  margin-bottom: 48px;
}

.recent-works__item {
  width: 220px;
  min-height: 244px;
}

.recent-works__picture {
  width: 100%;
  min-height: 183px;
}

.recent-works__item-inner {
  margin-top: -3px;
  min-height: 61px;
  border: 1px solid #dbdbdb;
  border-top: none;
  font-family: 'Bebas', sans-serif;
  word-spacing: 0.2rem;
  line-height: 18px;
  padding: 13px;
}

.recent-works__picture-name {
  padding-bottom: 7px;
  color: #b9b9b9;
}

.recent-works__picture-date {
  color: #e8663c;
}

.footer__inner {
  min-height: 264px;
  background-color: #e8663c;
  color: #fff;
  padding: 40px 40px 33px 35px;
  display: flex;
  justify-content: space-between;
}

.footer__title {
  font-family: 'Bebas', sans-serif;
  word-spacing: 0.2rem;
  text-transform: uppercase;
  font-size: 20px;
  color: #fff;
  margin-bottom: 28px;
}

.footer_about-text p {
  margin-bottom: 17px;
  padding-right: 12px;
}

.footer__about {
  width: 270px;
}

.footer__twitter-widget {
  width: 240px;
}

.footer__twitter-widget span,
.footer__twitt-time {
  font-weight: 300;
  color: #f3b29d;
}
.footer__twitter-link{
  margin-bottom: 0;
}
.footer__twitter-link a {
  transition: 0.3s;
}

.footer__twitter-link span:hover {
  color: #fff;
}

.footer__contacts {
  width: 270px;
  font-size: 12px;
}
.footer__contacts-email{
  margin-bottom: 0;
}
.footer__contacts-email a {
  transition: 0.3s;
}

.footer__contacts-email a:hover {
  color: #f3af9d;
}

.footer__contacts-email address {
  font-style: normal;
}
.footer__contacts-social-icons {
  margin-top: 21px;
  width: 170px;
  height: 31px;
  display: flex;
  justify-content: space-between;
}

.footer__contacts-social-icons img {
  width: 30px;
  height: 31px;
}